.clock-face{
  top:31%;
  left:40%;
  position:relative;
  height:100px;
  width:100px;
  border:5px solid white;
  border-radius : 50%;
  margin: auto;
}
.hand{
  width:40%;
  left:5%;
  position:absolute;
  color:black;
  top:48.5%;
  transform:rotate(90deg);
  transform-origin: 100%;
  transition-timing-function: cubic-bezier(0.03, 2.09, 0.58, 1);
}
.minutes-hand{
  width:30%;
  left:17px;
  border:1px solid white;
}
.hours-hand{
  width:20%;
  left:25px;
  border:2px solid white;
}
.seconds-hand{
  left:8px;
  border:.5px solid white;
}
body{
  background-color: #332119;
}
