@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
  font-family: poppins;
}

.heading{
  text-align:center;
  color:white;
  font-size: 3rem;
  margin-top: 6rem;
  left: -13px;
  position: relative;
}

.clock-face{
  position:relative;
  height:300px;
  width:300px;
  border:5px solid white;
  border-radius : 50%;
  margin: 3rem auto;
}
.hand{
  width:40%;
  left:15%;
  position:absolute;
  color:black;
  top:48.5%;
  transform:rotate(90deg);
  transform-origin: 100%;
  transition-timing-function: cubic-bezier(0.03, 2.09, 0.58, 1);
}
.minutes-hand{
  width:30%;
  left:51px;
  border:2px solid white;
}
.hours-hand{
  width:20%;
  left:77px;
  border:4px solid white;
}
.seconds-hand{
  left:24px;
  border:1px solid white;
}
body{
  background-color:#262929;
}
